.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-container {
  background-color: #e6f7ea;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #e6f7ea 20%, #e6f7ea 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e6f7ea 20%, #e6f7ea 80%, transparent 80%, transparent) 27.5px 27.5px, linear-gradient(#f7455f 2.2px, transparent 2.2px) 0 -1.1px, linear-gradient(90deg, #f7455f 2.2px, #e6f7ea 2.2px) -1.1px 0;
  background-size: 55px 55px, 55px 55px, 27.5px 27.5px, 27.5px 27.5px;
  margin: 0px;
}